:root{
    
    --main-container-backgroud-color-MTCV1: black;
    --main-container-transform-on-hover-MTCV1: scale(105%);
    --main-container-tansition-time-MTCV1: 0.2s;
    --card-container-padding-MTCV1: 10px;
    --card-header-font-color-MTCV1: white;
    --card-header-font-size: 15px;
    --card-image-height-MTCV1: 400px;
    --card-image-top-bottom-padding-MTCV1: 10px;
    --card-image-border-radius-MTCV1: 10px;
    --card-title-font-color-MTCV1: white;
    --card-title-font-size-MTCV1: 20px;
    --card-width-MTCV1: 250px;

    --main-container-padding-MTCV1: 10px 50px;
     
}

*{
  margin: 0px;
  padding: 0px;

}

.movies-tvshow-cards-main-container{
    padding: var(--main-container-padding-MTCV1);
    font-family: 'Inter' !important;
    background-color: var(--main-container-backgroud-color-MTCV1);
    min-height: 100vh;
    margin-top: 100px;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -3rem;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container{
    padding: var(--card-container-padding-MTCV1);
    transition: var(--main-container-tansition-time-MTCV1) ease-in-out;
    cursor: pointer;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container:hover{
    transform: var(--main-container-transform-on-hover-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container{
    position: relative; 
    width: var(--card-width-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-header-container{
    display: flex;
    justify-content: space-between;
    color: var(--card-header-font-color-MTCV1);
    font-size: var(--card-header-font-size);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-image-container{
    width: var(--card-width-MTCV1);
    height: var(--card-image-height-MTCV1);
    padding: var(--card-image-top-bottom-padding-MTCV1) 0px;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-image-container .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--card-image-border-radius-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-footer-container{
    width: var(--card-width-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-footer-container .card-title{
    width: var(--card-width-MTCV1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--card-title-font-color-MTCV1);
    font-size: var(--card-title-font-size-MTCV1);
}



@media screen and (max-width: 1440px) {
    :root{
        --main-container-padding-MTCV1: 10px 50px;
        --card-image-height-MTCV1: 300px;
        --card-width-MTCV1: 180px;
        --card-title-font-size-MTCV1: 18px;
        --card-header-font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    :root{
        --main-container-padding-MTCV1: 10px 40px;
        --card-title-font-size-MTCV1: 17px;
        --card-header-font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    :root{
        --main-container-padding-MTCV1: 10px 30px;
    }
}

@media screen and (max-width: 425px) {
    :root{
        --main-container-padding-MTCV1: 10px 10px;
        --card-image-height-MTCV1: 200px;
        --card-width-MTCV1: 130px;
        --card-title-font-size-MTCV1: 16px;
        --card-header-font-size: 12px;
    }
}

@media screen and (max-width: 280px) {
    :root{
        --main-container-padding-MTCV1: 10px 10px;
        --card-image-height-MTCV1: 130px;
        --card-width-MTCV1: 80px;
        --card-title-font-size-MTCV1: 13px;
        --card-header-font-size: 10px;
    }
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

.itemcontainer{
  
    width: 100%;
    height: 100px;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: darkgray;
   


}
.header{
    /* padding-top:80px; */
    font-weight: 900;
}




/* 
  body, .search-bar {
    display: flex;
    text-align: center;
    margin: auto;
  }
   */
  .search-bar input,
  .search-btn, 
  .search-btn:before, 
  .search-btn:after {
    transition: all 0.25s ease-out;
  }
  .search-bar input,
  .search-btn {
    width: 3em;
    height: 3em;
   
  }
  .search-bar input:invalid:not(:focus),
  .search-btn {
    cursor: pointer;
  }
  .search-bar,
  .search-bar input:focus,
  .search-bar input:valid  {
    width: 100%;
  }
  .search-bar input:focus,
  .search-bar input:not(:focus) + .search-btn:focus {
    outline: transparent;
  }
  .search-bar {
    margin: auto;
    padding: 4.5rem;
    justify-content: center;
  width: 60%;
  }
  .search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .search-bar input:focus, .search-bar input:valid {
    background: #fff;
    height: 3.5rem;
    text-align: center;
    border-radius: 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}
  .search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
  }
  .search-btn:before, 
  .search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
  }
  .search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
  }
  .search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em,0) rotate(45deg);
    transform-origin: 0 50%;
  }
  .search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before, 
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before, 
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: #0c48db;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }
  
  @media screen and (max-width: 690px) {
    

.search-bar {
    margin: auto;
    padding:2rem ;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}
.movies-tvshow-cards-main-container .movies-tvshow-cards-container {

  margin-top: -4rem;
}
 
}




